
  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #C2DEDC;
}

h1 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.container {
  max-width: 550px;
  margin: 0 auto;
  background-color: #ECE5C7;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 200px;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
}

input[type="number"] {
  width: 95%;
  padding: 10px;
  margin-bottom: 10px;
  border: 3px solid #CDC2AE;
  border-radius: 4px;
}

select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 3px solid #CDC2AE;
  border-radius: 4px;
}

input[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #116A7B;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#result {
  margin-top: 20px;
  font-weight: bold;
  text-align: center;
}